{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 9
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": "off",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "experimentalObjectRestSpread": "off",
    "no-console": "off",
    "no-self-assign": "off",
    "no-unused-vars": 2
  }
}